
body {
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #77131e, #E01518);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #77131e, #E01518); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

#logo-juego {
    padding-bottom: 20px;
}

#my-canvas {
    background-color: darkgray;
  }
  

#devil {
    display: flex;
    padding: 0 80px;
}

#devil img {
    padding: 20px;
    width: 220px;
}

.btn-bg {
    margin: 20px;
    background-color: transparent;
    outline: none;
    border: none;
}

.btn-bg img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 110px;
    width: 160px;
}

.btn-bg:hover {
    cursor: pointer;
    
}

#my-canvas, #gameover-screen {
    display: none;
  }

#gameover-screen {
    flex-direction: column;
    justify-content: center;
}
