
body {
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ED213A, #93291E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ED213A, #93291E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

#devil {
    display: flex;
}

.btn-bg {
    margin: 40px;
    padding: 10px;
    background-color: transparent;
    outline: none;
    border: none;
}

.btn-bg img {
    width: 180px;
    
}

.btn-bg:hover {
    cursor: pointer;
    
}